*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea, button{
    border: none;
    background: transparent;
}

body{
    background: #F6f9FB;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.img{
    width: 400px;
    height: 100%;
    display: flex;
}

.img > div{
    background-image: url(./preview.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

/* #previewImage{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./preview.png);
} */

.form{
    background: #fff;
    display: grid;
    grid-template-columns: 3fr 4fr;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #3332;
    border: 0px 4px 6px #3334;
}

#recipeForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

input, textarea{
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border: 1px solid #333;
    box-shadow: 0px 2px 2px #3332;
}

textarea{
    resize: none;
}

input:focus, textarea:focus{
    border: none;
    outline: 1px solid #5BC5F4;
}

h1{
    text-align: center;
    columns: #333;
    margin: 0.4rem 0;
}

button{
    color: #fff;
    background-color: #DF826C;
    padding: 1rem;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px 2px 2px #3332;
    cursor: pointer;
}
 
*::-webkit-scrollbar{
    width: 0px;
}